<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.seoil.modules.front.board.mapper.BoardMapper">
	<select id="selectList" resultType="kr.ac.seoil.modules.front.board.vo.BoardVO">
	<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.selectList */
		SELECT BNO
			, TITLE
			, WRITER
			, REG_DATE REGDATE
			, MOD_DATE MODDATE
		FROM TBL_BOARD
		WHERE BNO > 0
	]]>
	</select>
	
	<select id="selectTotalCount" resultType="int">
	<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.selectTotalCount */
		SELECT COUNT(BNO) FROM TBL_BOARD
		where
	]]>
		<include refid="criteria"></include>
	<![CDATA[
		bno > 0
	]]>
	</select>
	
	<select id="selectListWithPaging" resultType="kr.ac.seoil.modules.front.board.vo.BoardVO">
		<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.selectListWithPaging */
		with v_data as (
	    	SELECT /*+ INDEX_DESC(TBL_BOARD PK_TBL_BOARD)*/
		    	rownum rn
		    	, bno
				, title
				, writer
		    	, content
		    	, reg_date regDate
		    	, mod_date modDate
		    FROM TBL_BOARD
		    where
	]]>
	<include refid="criteria"></include>
	<![CDATA[
			rownum <= #{pageNum} * #{amount}
		)
		select * from v_data
		where rn > (#{pageNum}-1) * #{amount}
	]]>
	</select>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item= 'type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							(title like '%'||#{keyword}|| '%')
						</when>
						<when test="type == 'C'.toString()">
							(content like '%'||#{keyword}||'%')
						</when>
						<when test="type == 'W'.toString()">
							(writer like '%'||#{keyword}|| '%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<select id="selectInfo" resultType="kr.ac.seoil.modules.front.board.vo.BoardVO">
	<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.selectInfo */
		SELECT BNO,
			TITLE,
			CONTENT,
			WRITER,
			REG_DATE REGDATE,
			MOD_DATE MODDATE
		FROM TBL_BOARD
		WHERE BNO = #{bno}
	]]>
	</select>
	
	
	<insert id="insert">
	<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.insert */
		INSERT INTO TBL_BOARD (
			BNO,
			TITLE,
			CONTENT,
			WRITER
		) VALUES (
			SEQ_BOARD.NEXTVAL
			, #{title}
			, #{content}
			, #{writer}
		)
	]]>
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
	<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.insertSelectKey */
		INSERT INTO TBL_BOARD (
			BNO,
			TITLE,
			CONTENT,
			WRITER
		) VALUES (
			#{bno}
			, #{title}
			, #{content}
			, #{writer}
		)
	]]>	
	</insert>
	
	<delete id="delete">
	<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.delete */
		DELETE FROM TBL_BOARD
		WHERE BNO = #{bno}
	]]>
	</delete>
	
	<update id="update">
	<![CDATA[
		/* kr.ac.seoil.modules.front.board.mapper.BoardMapper.update */
		UPDATE TBL_BOARD SET
		TITLE = #{title}
		, CONTENT = #{content}
		, MOD_DATE = sysdate
		WHERE bno = #{bno}
	]]>
	</update>
	
	<select id="test" resultType="int">
	<![CDATA[
		select count(*) from tbl_board
	]]>	
	<where>
		<if test="bno != null">
			<![CDATA[bno = #{bno}]]>
		</if>
		<trim prefix ="and" >
			<![CDATA[rownum = 1]]>
		</trim>
	</where>
	</select>
	
</mapper>